h3 {
    padding: 1rem 0;
    font-weight: 400;
    font-size: 1.3rem;
}

main p { padding-bottom: 1rem; }

main ul {
    margin-bottom: 1rem;
}

main ul li {
    list-style: disc;
    margin-left: 1rem;
}